body {
    font-family: sans-serif "montserrat";
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif "montserrat-bold";
}

p {
    color: #8f8f8f;
}


/* Headings */

.big-heading {
    font-family: sans-serif "montserrat-black";
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: bolder;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}


/* Containers */

.container-fluid {
    padding: 7% 15%;
}


/* Sections */

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}


/* Navigation Bar */

.nav-item {
    padding-right: 0;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "montserrat-light";
}


/* Title section */

#title #container-fluid {
    background-color: #ff4c68;
    padding: 3% 15% 7%;
    text-align: left;
}


/* download button */

.download-button {
    margin: 5% 3% 5% 0;
}


/* Title Image */

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}


/* Features */

#features {
    position: relative;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}


/* Testimonials Section */

#testimonials {
    background-color: #ef8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-img {
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}


/* Press sectino */

#press {
    padding-bottom: 3%;
    background-color: #ef8172;
}

.press-logo {
    margin: 20px 20px 50px;
    padding-bottom: 2%;
    width: 15%;
}


/* Pricing Section */

#pricing {
    padding: 100px;
    text-align: center;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}


/* Footer Section */

#footer {
    color: #8f8f8f;
    margin: 20px;
}

.social-icon {
    color: black;
    margin: 20px 10px;
}


/* @Media section */

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}